<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sinch.demo"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-feature
            android:name="android.hardware.microphone"
            android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.sinch.demo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.sinch.demo.permission.C2D_MESSAGE" />
    

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="17"/>

    <application
             android:name="com.sinch.demo.Globals"
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <service android:name="com.sinch.demo.SinchService"></service>
        <activity
                android:name="com.sinch.demo.LoginActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.sinch.demo.CallScreenActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.sinch.demo.IncomingCallScreenActivity" android:screenOrientation="portrait"
                  android:noHistory="true"/>
        <activity android:name="com.sinch.demo.PlaceCallActivity" android:screenOrientation="portrait"/>
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.sinch.demo.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GcmIntentService" />
        
         <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>